* {
    box-sizing: border-box; 
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    direction: ltr;

    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);

    color: var(--color-base);

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    background: var(--color-surface-0);

    overflow-x: hidden;
    position: relative;
	isolation: isolate;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: var(--border-subtle);
    border-radius: var(--border-radius-base);
}

pre,
code,
tt,
kbd,
samp {
	font-family: var(--font-family-monospace);
}

pre,
code {
	background-color: var(--color-surface-1);
	border: var(--border-base);
}

code {
	padding: var(--space-xxxs) var(--space-xxs);
	border-radius: var(--border-radius-base);
}

pre {
	padding: var(--space-md);
	overflow: auto;
	border-radius: var(--border-radius-medium);

    code {
        border: none;
        background-color: transparent;
    }
}