---
layout: home
title: Home
page_id: home
description: "Say hello to my world. Web developer, web designer, and wiki enthusiast."
---
<section class="projects">
    <div class="projects__wikis">
        <div class="projects__header projects__header--hidden">
            <h2>Wikis</h2>
            <p>I've been working on wikis since 2023. Here are some of my best works!</p>
        </div>
        <div class="projects__cards">
            <div class="projects__card projects__card--hidden" style="--i: 1;">
                <div class="projects__cardImage">
                    <img src="{{ '/assets/images/wiki-images/Wiki_ZvH.png' | relative_url }}" draggable="false" alt="Zombies vs Humans thumbnail.">
                </div>
                <div class="projects__cardHead">
                    <h3 class="projects__cardHeader">Zombies vs Humans</h3>
                    <span class="projects__cardSubtitle">June 29th, 2026 - Present</span>
                </div>
                <div class="projects__cardBody">
                    <div class="projects__cardDescription">
                        The official Zombies vs Humans Wiki was my most recent project on Miraheze. Started on June 29, 2026 as a fork of the original Fandom wiki, I expanded and revamped much of the content originally on the wiki, such as:
                        <ul>
                            <li>A brand-new main page</li>
                            <li>Multiple revamped templates & modules</li>
                            <li>A brand new UI/UX experience</li>
                            <li>RobloxAPI & ZvH Lorebook integration</li>
                            <li>Project namespace with rules & guidelines</li>
                        </ul>
                        This wiki became official and replaced the Fandom wiki on August 7th, 2026.
                    </div>
                    <div class="projects__cardButtons">
                        <button class="primary" onclick="window.open('https://zombies-vs-humans.wiki')">
                            <span>Visit wiki</span>
                        </button>
                        <button class="secondary-2">
                            <span>WIP</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="projects__card projects__card--hidden" style="--i: 2;">
                <div class="projects__cardImage">
                    <img src="{{ '/assets/images/wiki-images/Wiki_10PlayerFlee.webp' | relative_url }}" draggable="false" alt="10 Player Flee thumbnail.">
                </div>
                <div class="projects__cardHead">
                    <h3 class="projects__cardHeader">10 Player Flee</h3>
                    <span class="projects__cardSubtitle">March 28th, 2026 - Present</span>
                </div>
                <div class="projects__cardBody">
                    <div class="projects__cardDescription">
                        The official 10 Player Flee Wiki was one of my most challenging wikis. Started on March 28th, 2026 from the ground up, I created a new and modern information hub for 10 Player Flee, with:
                        <ul>
                            <li>A main page with many sections for readers & editors alike</li>
                            <li>Pages with advanced templates & modules</li>
                            <li>An accessible UI</li>
                            <li>Valuelist integration</li>
                            <li>Five areas of content divided into namespaces (WIP)</li>
                            <li>A cosmetic database (WIP)</li>
                        </ul>
                        I worked with many members of the community to ensure this could be the best resource available for 10 Player Flee.<br><br>The wiki launched in beta on May 24th, 2026. A full release is planned for December 2026.
                    </div>
                    <div class="projects__cardButtons">
                        <button class="primary" onclick="window.open('https://10playerflee.wiki')">
                            <span>Visit wiki</span>
                        </button>
                        <button class="secondary-2">
                            <span>WIP</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="projects__card projects__card--hidden" style="--i: 3;">
                <div class="projects__cardImage">
                    <img src="{{ '/assets/images/wiki-images/Wiki_Forsaken.webp' | relative_url }}" draggable="false" alt="Forsaken thumbnail.">
                </div>
                <div class="projects__cardHead">
                    <h3 class="projects__cardHeader">Forsaken</h3>
                    <span class="projects__cardSubtitle">September 2025 - February 2nd, 2026</span>
                </div>
                <div class="projects__cardBody">
                    <div class="projects__cardDescription">
                        The official Forsaken Wiki was one of the wikis I spent the most time on. I was brought onto the team as an interface administrator in September of 2025, and in my time I contributed to many of the wiki's pages and features, such as:
                        <ul>
                            <li>The main page design</li>
                            <li>The seasonal themes on the site (Halloween, Christmas, Anniversary)</li>
                            <li>The first Mbox template design</li>
                            <li>The policy pages</li>
                            <li>Also contributed to: Skin pages, infoboxes, staff name colors</li>
                        </ul>
                        Working on the Forsaken Wiki was a fun and creative experience, as it was my second time working on a non-Citizen wiki. I departed from the wiki team in February of 2026 to focus on my own mental health.
                    </div>
                    <div class="projects__cardButtons">
                        <button class="primary" onclick="window.open('https://forsaken.wiki')">
                            <span>Visit wiki</span>
                        </button>
                        <button class="secondary-2">
                            <span>WIP</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="projects__card projects__card--hidden" style="--i: 4;">
                <div class="projects__cardImage">
                    <img src="{{ '/assets/images/wiki-images/Wiki_GBP.webp' | relative_url }}" draggable="false" alt="Guts & Blackpowder thumbnail.">
                </div>
                <div class="projects__cardHead">
                    <h3 class="projects__cardHeader">Guts & Blackpowder</h3>
                    <span class="projects__cardSubtitle">March 8th, 2025 - Present</span>
                </div>
                <div class="projects__cardBody">
                    <div class="projects__cardDescription">
                        The official Guts & Blackpowder Wiki was the second Miraheze wiki I worked on after returning from my year-long break.<br><br>I was brought onto the team as a CSS Specialist in March of 2025, and I have helped out with refactoring some of the CSS on the site, and offering help whenever it is needed.
                    </div>
                    <div class="projects__cardButtons">
                        <button class="primary" onclick="window.open('https://gbp.miraheze.org')">
                            <span>Visit wiki</span>
                        </button>
                        <button class="secondary-2">
                            <span>WIP</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog">
    <div class="blog__container">
        <div class="blog__header blog__header--hidden">
            <h2>Recent Blog Posts</h2>
            <p>Here are my recent blog posts! | <a href="{{ '/blog/' | relative_url }}">View all posts</a></p>
        </div>
        {% if site.posts.size > 0 %}
            <div class="blog__posts">
                {% for post in site.posts limit:3 %}
                    <article class="blog__post blog__post--hidden">
                        <time class="blog__postTime" datetime="{{ post.date | date_to_xmlschema }}">
                            {{ post.date | date: "%B %-d, %Y" }}
                        </time>

                        <h3 class="blog__postHeader">
                            <a href="{{ post.url | relative_url }}">
                                {{ post.title }}
                            </a>
                        </h3>

                        {% if post.excerpt %}
                            <p class="blog__postExcerpt">{{ post.excerpt | strip_html | truncate: 160 }}</p>
                        {% endif %}
                    </article>
                {% endfor %}
            </div>
        {% else %}
            <p>No posts yet.</p>
        {% endif %}
    </div>
</section>