@use "../abstracts/mixins" as mixins;

button {
    @include mixins.button-base;
    @include mixins.focus-ring;

    &.primary {
		@include mixins.button-variant (
			var(--background-color-progressive),
            var(--background-color-progressive--hover),
            var(--background-color-progressive--active),
            var(--color-inverted)
		);
    }

    &.secondary-1 {
        border: var(--border-progressive) !important;

		@include mixins.button-variant (
			transparent,
            transparent,
            transparent,
            var(--color-progressive)
		);

        @include mixins.hover {
            color: var(--color-progressive--hover) !important;
            border: var(--border-progressive--hover) !important;
        }

        @include mixins.active {
            color: var(--color-progressive--active) !important;
            border: var(--border-progressive--active) !important;
        }
    }

    &.secondary-2 {
		@include mixins.button-variant (
			var(--color-surface-2),
            var(--color-surface-2--hover),
            var(--color-surface-2--active),
            var(--color-emphasized)
		);

        @include mixins.hover {
            border: var(--border-interactive--hover) !important;
            color: var(--color-inverted) !important;
        }

        @include mixins.active {
            border: var(--border-interactive--active) !important;
        }
    }

    img {
        border: none;
        border-radius: 0;

        width: 20px;
        height: auto;
    }

	&.social {
		@include mixins.button-text-on-hover;
	}

	&.x {
		@include mixins.button-variant (
			oklch(0% 0 0),
            oklch(calc(0% + var(--delta-lightness-hover-state)) 0 0),
            oklch(0% 0 0),
            var(--color-emphasized)
		);
	}

	&.discord {
        @include mixins.button-variant(
            oklch(57.74% 0.2091 273.85),
            oklch(calc(57.74% + var(--delta-lightness-hover-state)) 0.2091 273.85),
            oklch(calc(57.74% + var(--delta-lightness-active-state)) 0.2091 273.85),
            var(--color-emphasized)
        );
	}

    &.github {
		@include mixins.button-variant(
            oklch(70.1% 0.2127 145.72),
            oklch(calc(70.1% + var(--delta-lightness-hover-state)) 0.2127 145.72),
            oklch(calc(70.1% + var(--delta-lightness-active-state)) 0.2127 145.72),
            var(--color-emphasized)
        );
    }
}