@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer {
    background: var(--color-surface-1);
    border-top: var(--border-base);

    width: 100%;
    height: max-content;

    padding: calc(var(--space-lg) + var(--space-md));

    @media screen and (max-width: $breakpoint-xs) {
        padding: var(--space-xxl) var(--space-lg);
    }

    .footer__wrapper {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: flex-end;

        hr {
            display: none;
        }

        @media screen and (max-width: $breakpoint-xs) {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            hr {
                display: block;
                width: 5%;
                margin-block: var(--space-xs);
            }
        }

        .footer__info {
            .footer__wordmark {
                font-size: var(--font-size-xx-large);
                color: var(--color-inverted);

                display: flex;
                min-width: 0;
                gap: var(--space-sm);
                align-items: center;

                margin-bottom: var(--space-xxxs);

                @media screen and (max-width: $breakpoint-xs) {
                    justify-content: center;
                }
                @media screen and (max-width: $breakpoint-xxs) {
                    .divider, img {
                        display: none; /* Experimental */
                    }
                }

                .divider {
                    color: var(--color-inverted);
                    font-size: var(--font-size-small);
                    line-height: 1;
                    user-select: none;
                    flex-shrink: 0;
                }

                img {
                    border: none;
                    border-radius: 0;

                    width: 20px;
                    height: auto;
                }
            }

            .footer__tagline {
                text-align: left;

                @media screen and (max-width: $breakpoint-xs) {
                    text-align: center;
                }

                a {
                    color: var(--color-base);

                    @include hover {
                        color: var(--color-link--hover);
                    }

                    @include active {
                        color: var(--color-link--active);
                    }
                }
            }
        }
        .footer__links {
            display: flex;
            flex-direction: row;
            align-items: center;

            gap: var(--space-xs);

            @media screen and (max-width: $breakpoint-xs) {
                flex-wrap: wrap;
            }

            .divider {
                color: var(--color-disabled);
                font-size: var(--font-size-x-small);
                line-height: 1;
                user-select: none;
                flex-shrink: 0;
            }
        }
    }

    .footer__subtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $breakpoint-xs) {
            flex-direction: column;
            gap: var(--space-sm);
            text-align: center;

            .footer__subtitle-text {
                text-align: center;
            }
        }

        .footer__subtitle-text {
            color: var(--color-placeholder);
        }

        .footer__subtitle-socials {
            display: flex;
            flex-direction: row;
			align-items: center;
            gap: var(--space-xxs);

            max-width: 100%;
            justify-content: center;

            @media screen and (max-width: $breakpoint-xs) {
                flex-wrap: wrap;
            }

            @media screen and (max-width: $breakpoint-xxxs) {
                flex-direction: column;

                .divider {
                    writing-mode: vertical-rl; /* Top-to-bottom, right-to-left */
                    text-orientation: mixed;
                }
            }

            button {
                height: 30px;
                transition: var(--transition-hover--slow);
                flex: 0 0 auto;
            }

			.divider {
                color: var(--color-placeholder);
                font-size: var(--font-size-small);
                line-height: 1;
                user-select: none;
                flex-shrink: 0;
            }
        }
    }
}