@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer.footer {
    background: var(--color-surface-1);
    border-top: var(--border-base);

    width: 100%;
    height: max-content;

    padding: calc(var(--space-lg) + var(--space-md));

    @media screen and (max-width: $breakpoint-xs) {
        padding: var(--space-xxl) var(--space-lg);
    }

    .footer__wrapper {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: flex-end;

        hr {
            display: none;
        }

        @media screen and (max-width: $breakpoint-xs) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            hr {
                display: block;
                width: 5%;
                margin-block: var(--space-xs) var(--space-md);
            }
        }

        .footer__info {
            .footer__wordmark {
                font-size: var(--font-size-xx-large);
                color: var(--color-inverted);

                display: flex;
                min-width: 0;
                gap: var(--space-sm);
                align-items: center;

                margin-bottom: var(--space-xxs);

                @media screen and (max-width: $breakpoint-xs) {
                    justify-content: center;
                }
            }

            .footer__links {
                display: flex;
                flex-direction: row;
                align-items: center;

                gap: var(--space-sm);

                a {
                    color: var(--color-base);
                    text-decoration: none;

                    @include hover {
                        color: var(--color-emphasized);
                        text-decoration: none;
                        font-weight: var(--font-weight-regular);
                    }

                    @include active {
                        color: var(--color-emphasized);
                        text-decoration: none;
                    }

                    &[aria-current="page"] {
                        color: var(--color-emphasized);
                        text-decoration: underline var(--color-emphasized);
                        font-weight: var(--font-weight-bold);

                        @include hover {
                            color: var(--color-emphasized);
                        }

                        @include active {
                            color: var(--color-emphasized);
                        }
                    }
                }

                @media screen and (max-width: $breakpoint-xs) {
                    flex-wrap: wrap;
                    justify-content: center;
                    text-align: center;
                }

                .divider {
                    color: var(--color-base);
                    font-size: var(--font-size-small);
                    line-height: 1;
                    user-select: none;
                    flex-shrink: 0;
                }
            }
        }

        .footer__socials {
            display: flex;
            flex-direction: row;
			align-items: center;
            gap: var(--space-xxs);

            max-width: 100%;
            justify-content: center;

            @media screen and (max-width: $breakpoint-xs) {
                flex-wrap: wrap;
            }

            @media screen and (max-width: $breakpoint-xxxs) {
                flex-direction: column;

                .divider {
                    writing-mode: vertical-rl; /* Top-to-bottom, right-to-left */
                    text-orientation: mixed;
                }
            }

            button {
                height: 30px;
                transition: var(--transition-hover--slow);
                flex: 0 0 auto;
            }

			.divider {
                color: var(--color-placeholder);
                font-size: var(--font-size-small);
                line-height: 1;
                user-select: none;
                flex-shrink: 0;
            }
        }
    }

    .footer__subtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $breakpoint-xs) {
            flex-direction: column;
            gap: var(--space-sm);
            text-align: center;

            .footer__subtitle-text, .footer__subtitle-legal {
                text-align: center;
            }
        }

        .footer__subtitle-text {
            color: var(--color-placeholder);

            a {
                color: var(--color-placeholder);
                text-decoration: none;

                @include hover {
                    font-weight: var(--font-weight-medium);
                    color: var(--color-base);
                    text-decoration: none;
                }

                @include active {
                    color: var(--color-base);
                    text-decoration: none;
                }
            }
        }

        .footer__subtitle-legal {
            color: var(--color-placeholder);
        }
    }
}
