@use "../abstracts/breakpoints" as *;
main {
    margin: var(--space-lg);
    padding: var(--space-xxxl) var(--space-xxxl);

    @media screen and (max-width: $breakpoint-sm) {
        margin: var(--space-md);
        padding: var(--space-xl) var(--space-xl);
    }

    @media screen and (max-width: $breakpoint-xs) {
        margin: var(--space-sm);
        padding: var(--space-md) var(--space-md);
    }
}