@use "../abstracts/breakpoints" as *;
main {
    background: var(--color-surface-0);
    padding: var(--space-xxxl);

    @media screen and (max-width: $breakpoint-sm) {
        padding: var(--space-xl);
    }

    @media screen and (max-width: $breakpoint-xs) {
        padding: var(--space-md);
    }
}