@use "../abstracts/breakpoints" as *;

html[data-page="home"], html[data-page="blog"] {
    margin-bottom: calc(var(--nav-height) * -1);
} 

nav.nav {
    position: sticky;
    top: 0;

    width: 100%;

    min-height: var(--space-xxl);
    padding: var(--space-lg) var(--space-xxxl);

    background: oklch(from var(--color-surface-0) l c h / 0.9);
    backdrop-filter: var(--backdrop-filter-frosted-glass);
    border-bottom: var(--border-base);
    z-index: 999999999999999999;

    @media screen and (max-width: $breakpoint-sm) {
        padding: var(--space-lg) var(--space-xl);
    }

    @media screen and (max-width: $breakpoint-xs) {
        padding: var(--space-md) var(--space-md);
    }

    .nav__wordmark {
        font-size: var(--font-size-large);
        color: var(--color-emphasized);
    }
}