@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

html[data-page="home"], html[data-page="blog"], html[data-page="projects"] {
    nav.nav {
        margin-bottom: calc(var(--nav-height) * -1);
    }
} 

nav.nav {
    position: sticky;
    top: 0;

    width: 100%;
    min-height: var(--space-xxl);
    padding: var(--space-lg) var(--space-xxxl);

    z-index: 999999999999999999;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: var(--transition-hover--fast);

    border-bottom: 1px solid transparent;

    &.is-scrolled {
        background: oklch(from var(--color-surface-1) l c h / var(--backdrop-opacity));
        backdrop-filter: var(--backdrop-filter-frosted-glass);
        border-bottom: var(--border-base);
        box-shadow: var(--box-shadow-medium);
    }

    .nav__wordmark {
        font-size: var(--font-size-large);
        color: var(--color-emphasized);

        a {
            color: var(--color-emphasized);
            text-decoration: none;

            @include hover {
                color: var(--color-emphasized);
                font-weight: var(--font-weight-regular);
                text-decoration: none;
            }

            @include active {
                color: var(--color-emphasized);
                text-decoration: none;
            }
        }
    }

    .nav__links {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: var(--space-sm);

        border-left: var(--border-subtle);
        padding-left: var(--space-sm);

        font-size: var(--font-size-medium);

        a {
            color: var(--color-base);
            text-decoration: none;

            @include hover {
                color: var(--color-emphasized);
                text-decoration: none;
                font-weight: var(--font-weight-regular);
            }

            @include active {
                color: var(--color-emphasized);
                text-decoration: none;
            }

            &[aria-current="page"] {
                color: var(--color-emphasized);
                text-decoration: underline var(--color-emphasized);
                font-weight: var(--font-weight-bold);

                @include hover {
                    color: var(--color-emphasized);
                }

                @include active {
                    color: var(--color-emphasized);
                }
            }
        }

        @media screen and (max-width: $breakpoint-xs) {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        padding: var(--space-lg) var(--space-xl);
    }

    @media screen and (max-width: $breakpoint-xs) {
        padding: var(--space-md) var(--space-md);
        flex-direction: column;

        .nav__links {
            padding-left: 0;
            border-left: none;
            font-size: var(--font-size-small);
            gap: var(--space-xs);
        }
    }
}