.tag {
    display: inline-flex;
    align-items: center;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border-subtle);
    border-radius: var(--border-radius-base);
    background-color: var(--color-surface-1);
    color: var(--color-emphasized);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    line-height: 1;
    column-gap: var(--space-xxs);
    white-space: nowrap;
    text-decoration: none;

    &--progressive {
        border: var(--border-progressive);
        color: var(--color-progressive);
        
    }
}


