@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

@property --projects__cardImageAlpha {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 0%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* index.html */
html[data-page="home"] {
    .projects {
        .projects__wikis {
            display: flex;
            flex-direction: column;

            gap: var(--space-sm);

            .projects__header {
                display: flex;
                flex-direction: column;
                gap: 0;
                border-bottom: var(--border-base);
                padding-block: var(--space-sm);

                line-height: 1;

                h2 {
                    margin-block: 0;
                }
                p {
                    margin-block: 0;
                }

                @include view-on-scroll;
            }

            .projects__cards {
                display: grid;
                grid-template-columns: repeat(4, minmax(0, 1fr));

                gap: var(--space-sm);

                @media screen and (max-width: $breakpoint-md) {
                    grid-template-columns: repeat(3, minmax(0, 1fr))
                }

                @media screen and (max-width: $breakpoint-sm) {
                    grid-template-columns: repeat(2, minmax(0, 1fr))
                }

                @media screen and (max-width: $breakpoint-xs) {
                    grid-template-columns: repeat(1, minmax(0, 1fr));
                }

                .projects__card {
                    background-color: var(--color-surface-2);
                    border: var(--border-base);
                    border-radius: var(--border-radius-medium);

                    box-shadow: var(--box-shadow-medium);

                    padding: var(--space-md);

                    line-height: var(--line-height-xx-small);

                    opacity: 1;
                    transform: none;

                    overflow: hidden;

                    transition: var(--transition-hover--slow);

                    display: flex;
                    flex-direction: column;

                    @include hover {
                        .projects__cardHead {
                            margin-top: 0;
                            border-bottom: var(--border-width-base) solid var(--border-color-base);
                        }
                        
                        .projects__cardImage {
                            img {
                                --projects__cardImageAlpha: 15%;
                            }
                        }
                    }

                    .projects__cardImage {
                        margin: calc(var(--space-md) * -1);
                        margin-bottom: 0;
                        border-bottom: var(--border-base);

                        line-height: 0;

                        background-color: rgb(0 0 0 / 50%);

                        img {
                            user-select: none; 

                            border: none;
                            border-radius: 0px;

                            width: 100%;
                            height: auto;

                            transition: --projects__cardImageAlpha var(--transition-hover--slow);

                            mask-image: linear-gradient(to bottom, black 0%, rgb(0 0 0 / var(--projects__cardImageAlpha)) 100%);
                        }
                    }

                    .projects__cardHead {
                        padding-block: var(--space-md) var(--space-sm);
                        margin-bottom: var(--space-sm);
                        border-bottom: var(--border-width-base) solid transparent;

                        transition: var(--transition-hover--fast);

                        margin-top: calc(var(--card-head-height, 71.5px) * -1);
                        z-index: 9999;

                        .projects__cardHeader {
                            font-weight: var(--font-weight-bold);
                            margin-block: 0 var(--space-xxs);
                            line-height: 1;
                        }

                        .projects__cardSubtitle {
                            font-size: var(--font-size-small);
                            color: var(--color-subtle);
                        }
                    }

                    .projects__cardBody {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: var(--space-sm);
                        line-height: var(--line-height-small);

                        .projects__cardButtons {
                            border-top: var(--border-base);

                            display: flex;
                            flex-direction: row;
                            gap: var(--space-xs);
                            padding-top: var(--space-md);

                            @media screen and (max-width: $breakpoint-xxxs) {
                                flex-direction: column;
                            }

                            button {
                                width: 100%;
                                font-weight: var(--font-weight-bold);
                                text-align: center;
                                justify-content: center;
                            }
                        }
                    }

                    @include view-on-scroll;
                    transition-delay: calc(var(--i, 1) * 50ms);
                }
            }
        }
    }
    .blog {
        .blog__container {
            display: flex;
            flex-direction: column;

            gap: var(--space-sm);

            .blog__header {
                display: flex;
                flex-direction: column;
                gap: 0;
                border-bottom: var(--border-base);
                padding-block: var(--space-sm);

                line-height: 1;

                h2 {
                    margin-block: 0;
                }
                p {
                    margin-block: 0;
                }

                @include view-on-scroll;
            }
        }
    }
}