@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

@property --projects__cardImageAlpha {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 0%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* index.html */
html[data-page="home"] {
    main {
        display: flex;
        flex-direction: column;
        gap: var(--space-xxxl);

        .projects {
            .projects__wikis {
                display: flex;
                flex-direction: column;

                gap: var(--space-sm);

                .projects__header {
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    padding-block: var(--space-sm);

                    line-height: 1;

                    gap: var(--space-xxs);

                    font-family: var(--font-family-alternate);

                    h2 {
                        margin-block: 0;
                        font-size: var(--font-size-xxx-large);
                    }
                    p {
                        margin-block: 0;
                        font-size: var(--font-size-large);
                    }

                    @include view-on-scroll;
                }

                .projects__cards {
                    display: grid;
                    grid-template-columns: repeat(4, minmax(0, 1fr));

                    gap: var(--space-sm);

                    @media screen and (max-width: $breakpoint-md) {
                        grid-template-columns: repeat(3, minmax(0, 1fr))
                    }

                    @media screen and (max-width: $breakpoint-sm) {
                        grid-template-columns: repeat(2, minmax(0, 1fr))
                    }

                    @media screen and (max-width: $breakpoint-xs) {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .projects__card {
                        background-color: var(--color-surface-2);
                        border: var(--border-base);
                        border-radius: var(--border-radius-medium);

                        box-shadow: var(--box-shadow-medium);

                        padding: var(--space-md);

                        line-height: var(--line-height-xx-small);

                        opacity: 1;
                        transform: none;

                        overflow: hidden;

                        transition: var(--transition-hover--slow);

                        display: flex;
                        flex-direction: column;

                        .projects__cardImage {
                            margin: calc(var(--space-md) * -1);
                            margin-bottom: 0;
                            border-bottom: var(--border-base);

                            line-height: 0;

                            background-color: rgb(0 0 0 / 50%);

                            img {
                                user-select: none; 

                                border: none;
                                border-radius: 0px;

                                width: 100%;
                                height: auto;

                                transition: --projects__cardImageAlpha var(--transition-hover--slow);

                                mask-image: linear-gradient(to bottom, black 0%, rgb(0 0 0 / var(--projects__cardImageAlpha)) 100%);
                            }
                        }

                        .projects__cardHead {
                            padding-block: var(--space-md) var(--space-sm);
                            margin-bottom: var(--space-sm);
                            border-bottom: var(--border-width-base) solid transparent;

                            transition: var(--transition-hover--fast);

                            margin-top: calc(var(--card-head-height, 71.5px) * -1);
                            z-index: 9999;

                            .projects__cardHeader {
                                font-weight: var(--font-weight-bold);
                                margin-block: 0 var(--space-xxs);
                                line-height: 1;
                            }

                            .projects__cardSubtitle {
                                font-size: var(--font-size-small);
                                color: var(--color-subtle);
                            }
                        }

                        .projects__cardBody {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: var(--space-sm);
                            line-height: var(--line-height-small);

                            .projects__cardButtons {
                                border-top: var(--border-base);

                                display: flex;
                                flex-direction: row;
                                gap: var(--space-xs);
                                padding-top: var(--space-md);

                                @media screen and (max-width: $breakpoint-xxxs) {
                                    flex-direction: column;
                                }

                                a.button {
                                    width: 100%;
                                    font-weight: var(--font-weight-bold);
                                    text-align: center;
                                    justify-content: center;
                                }
                            }
                        }

                        @media (hover: hover) and (pointer: fine) {
                            @include hover {
                                .projects__cardHead {
                                    margin-top: 0;
                                    border-bottom: var(--border-width-base) solid var(--border-color-base);
                                }
                                
                                .projects__cardImage {
                                    img {
                                        --projects__cardImageAlpha: 15%;
                                    }
                                }
                            }
                        }

                        @media (hover: none), (pointer: coarse) {
                            .projects__cardHead {
                                margin-top: 0 !important;
                                border-bottom: var(--border-width-base) solid var(--border-color-base) !important;
                            }

                            .projects__cardImage img {
                                --projects__cardImageAlpha: 15% !important;
                            }
                        }

                        @include view-on-scroll;
                        transition-delay: calc(var(--i, 1) * 50ms);
                    }
                }
            }
        }

        .blog {
            .blog__container {
                display: flex;
                flex-direction: column;

                gap: var(--space-sm);

                .blog__header {
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    padding-block: var(--space-sm);

                    line-height: 1;

                    gap: var(--space-xxs);

                    font-family: var(--font-family-alternate);

                    h2 {
                        margin-block: 0;
                        font-size: var(--font-size-xxx-large);
                    }
                    p {
                        margin-block: 0;
                        font-size: var(--font-size-large);

                        tag {
                            font-size: var(--font-size-large);
                        }
                    }

                    @include view-on-scroll;
                }

                .blog__posts {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));

                    gap: var(--space-sm);

                    @media screen and (max-width: $breakpoint-sm) {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .blog__post {
                        background-color: var(--color-surface-2);
                        border: var(--border-base);
                        border-radius: var(--border-radius-medium);

                        box-shadow: var(--box-shadow-medium);

                        padding: var(--space-md);

                        line-height: var(--line-height-xx-small);

                        opacity: 1;
                        transform: none;

                        overflow: hidden;

                        transition: var(--transition-hover--slow);

                        display: flex;
                        flex-direction: row;
                        gap: var(--space-sm);

                        align-items: flex-start;

                        @include view-on-scroll;

                        @media screen and (max-width: $breakpoint-xs) {
                            flex-direction: column;
                        }

                        .blog__postImage {
                            display: flex;
                            align-items: flex-start;

                            a {
                                display: flex;
                                align-items: flex-start;

                                img {
                                    width: 100%;
                                    height: auto;

                                    border: none;
                                }
                            }
                        }

                        .blog__postText {
                            min-width: 50%;
                            height: 100%;
                            align-self: stretch;

                            display: flex;
                            flex-direction: column;

                            @media screen and (max-width: $breakpoint-xs) {
                                min-width: 100%;
                            }

                            .blog__postTime {
                                font-size: var(--font-size-small);
                                color: var(--color-subtle);
                            }

                            .blog__postHeader {
                                font-weight: var(--font-weight-bold);
                                padding-bottom: var(--space-sm);
                                margin-block: var(--space-xxs) var(--space-sm);
                                border-bottom: var(--border-base);
                                line-height: 1;
                            }

                            .blog__postExcerpt {
                                margin-block: 0 var(--space-sm);
                            }

                            .blog__postButton {
                                margin-top: auto;

                                a.button {
                                    max-width: max-content;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

html[data-page="blog"] {
    --color-progressive-oklch__h: 22.77;

    main {
        .blog {
            .blog__container {
                display: flex;
                flex-direction: column;

                gap: var(--space-sm);

                .blog__header {
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    padding-block: var(--space-sm);

                    line-height: 1;

                    gap: var(--space-xxs);

                    font-family: var(--font-family-alternate);

                    h2 {
                        margin-block: 0;
                        font-size: var(--font-size-xxx-large);
                    }
                    p {
                        margin-block: 0;
                        font-size: var(--font-size-large);
                    }

                    @include view-on-scroll;
                }

                .blog__posts {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));

                    gap: var(--space-sm);

                    @media screen and (max-width: $breakpoint-sm) {
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                    }

                    .blog__post {
                        background-color: var(--color-surface-2);
                        border: var(--border-base);
                        border-radius: var(--border-radius-medium);

                        box-shadow: var(--box-shadow-medium);

                        padding: var(--space-md);

                        line-height: var(--line-height-xx-small);

                        opacity: 1;
                        transform: none;

                        overflow: hidden;

                        transition: var(--transition-hover--slow);

                        display: flex;
                        flex-direction: row;
                        gap: var(--space-sm);

                        align-items: flex-start;

                        @include view-on-scroll;

                        @media screen and (max-width: $breakpoint-xs) {
                            flex-direction: column;
                            gap: var(--space-md);
                        }

                        .blog__postImage {
                            display: flex;
                            align-items: flex-start;

                            a {
                                display: flex;
                                align-items: flex-start;

                                img {
                                    width: 100%;
                                    height: auto;

                                    border: none;
                                }
                            }
                        }

                        .blog__postText {
                            min-width: 50%;
                            height: 100%;
                            align-self: stretch;

                            display: flex;
                            flex-direction: column;

                            @media screen and (max-width: $breakpoint-xs) {
                                min-width: 100%;
                            }

                            .blog__postTime {
                                font-size: var(--font-size-small);
                                color: var(--color-subtle);
                            }

                            .blog__postHeader {
                                font-weight: var(--font-weight-bold);
                                padding-bottom: var(--space-sm);
                                margin-block: var(--space-xxs) var(--space-sm);
                                border-bottom: var(--border-base);
                                line-height: 1;
                            }

                            .blog__postExcerpt {
                                margin-block: 0 var(--space-sm);
                            }

                            .blog__postButton {
                                margin-top: auto;

                                a.button {
                                    max-width: max-content;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

html[data-page="post"] {
    body {
        grid-template-rows: 1fr auto;

        .post__wrapper {
            display: grid;
            grid-template-rows: auto 1fr;

            gap: var(--space-xxl);

            overflow: hidden;

            background: var(--color-surface-1);
            border: var(--border-base);
            border-radius: var(--border-radius-large);

            margin: var(--space-4xl);
            padding: var(--space-4xl);

            @media screen and (max-width: $breakpoint-xs) {
                margin: var(--space-xxl);
                padding: var(--space-xxl);
                gap: var(--space-xl);
            }

            header.post__header {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                position: relative;

                height: max-content;
                margin: 0;
                padding: 0;

                gap: var(--space-xs);

                text-align: left;

                font-family: var(--font-family-alternate);

                margin-top: calc(var(--space-4xl) * -1);
                padding-top: var(--space-4xl);
                margin-inline: calc(var(--space-4xl) * -1);
                padding-inline: var(--space-4xl);
                padding-bottom: var(--space-4xl);
                border-bottom: var(--border-base);
                background: linear-gradient(45deg, var(--color-surface-0), var(--color-surface-2));

                @media screen and (max-width: $breakpoint-xs) {
                    margin-top: calc(var(--space-xxl) * -1);
                    padding-top: var(--space-xxl);
                    margin-inline: calc(var(--space-xxl) * -1);
                    padding-inline: var(--space-xxl);
                    padding-bottom: var(--space-xxl);
                }

                &::after {
                    content: "";
                    position: absolute;
                    inset: -1px -1px auto;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(to right, var(--border-color-subtle) 1px, transparent 1px), linear-gradient(to bottom, var(--border-color-subtle) 1px, transparent 1px);
                    background-size: 40px 40px;
                    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
                    z-index: 1;
                }

                nav.post__breadcrumbs {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    gap: var(--space-xs);
                    flex-wrap: wrap;
                    color: var(--color-subtle);
                    
                    padding-bottom: var(--space-sm);
                    border-bottom: var(--border-subtle);
                    margin-bottom: var(--space-sm);

                    z-index: 2;

                    a {
                        color: var(--color-subtle);

                        @include hover {
                            color: var(--color-subtle);
                            font-weight: var(--font-weight-medium);
                        }

                        @include active {
                            color: var(--color-subtle);
                        }
                    }

                    .divider {
                        font-size: var(--font-size-x-small);
                    }

                    .post__name {
                        font-weight: var(--font-weight-bold);
                        color: var(--color-base);
                    }
                }

                h1 {
                    margin-block: 0;
                    line-height: initial;
                    font-size: var(--font-size-5x-large);
                    font-weight: var(--font-weight-bold);
                    text-wrap: wrap;

                    z-index: 2;
                }

                .post__meta {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    z-index: 2;

                    time {
                        margin-block: 0;
                        line-height: var(--line-height-small);
                        font-weight: var(--font-weight-medium);
                        color: var(--color-placeholder);
                        font-size: var(--font-size-large);
                        line-height: var(--line-height-medium);
                    }

                    .post__tags {
                        border-left: var(--border-subtle);
                        padding-left: var(--space-sm);
                        margin-left: var(--space-sm);
                        display: flex;
                        gap: var(--space-xxs);
                    }

                    @media screen and (max-width: $breakpoint-xs) {
                        align-items: flex-start;
                        flex-direction: column;

                        gap: var(--space-sm);

                        .post__tags {
                            border-left: none;
                            padding-left: 0;
                            margin-left: 0;
                            flex-direction: column;
                            align-items: flex-start;

                            tag {
                                width: max-content;
                            }
                        }
                    }
                }

                @media screen and (max-width: $breakpoint-xs) {
                    h1 {
                        font-size: var(--font-size-xxx-large);
                        text-wrap: wrap;
                        overflow-wrap: wrap;
                    }
                }
            }

            main.post__main {
                height: 100%;

                margin: 0;
                padding: 0;

                .post__mainContent {
                    min-width: 0;
                    max-width: 100%;

                    pre {
                        max-width: 100%;
                        min-width: 0;
                        overflow-x: auto;

                        font-size: var(--font-size-small);

                        code {
                            text-wrap: wrap;
                        }
                    }

                    img {
                        max-width: 100%;
                    }

                    p:first-of-type {
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }
}