---
layout: blog
title: Blog
permalink: /blog/
---

<section class="blog-list">
    {% if site.posts.size > 0 %}
        {% for post in site.posts %}
            <article class="blog-list__item">
                <h2>
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title }}
                    </a>
                </h2>

                <p>
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                        {{ post.date | date: "%B %-d, %Y" }}
                    </time>
                </p>

                {% if post.excerpt %}
                    <div>
                        {{ post.excerpt }}
                    </div>
                {% endif %}
            </article>
        {% endfor %}
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
</section>