<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
        </title>
        <link rel="icon" href="{{ '/assets/images/svgs/WildVoltaireian - SVG/1-cropped.svg' | relative_url }}" type="image/svg+xml">

        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    </head>
    <body>
        <header>
            <h1>
                <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
            </h1>

            <nav>
                <a href="{{ '/' | relative_url }}">Home</a>
                <a href="{{ '/blog/' | relative_url }}">Blog</a>
            </nav>
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            <div class="footer__wordmark">
                <span><span style="font-weight: var(--font-weight-bold);">wildvoltaireian</span>.xyz</span>
                <span class="divider">|</span> 
                <img src="{{ '/assets/images/svgs/WildVoltaireian - SVG/1-cropped.svg' | relative_url }}" alt="Logo of WildVoltaireian">
            </div>
            <div class="footer__tagline">
                Say hello to my world.
            </div>
            <hr>
            <div class="footer__subtitle">
                <div class="footer__subtitle-text">© 2026 WildVoltaireian. All rights reserved.</div>
                <div class="footer__subtitle-socials">
                    <button class="secondary-2 social mail" onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&to=dostalyavoltaire@gmail.com&su=Subject%20Here&body=Body%20Here','_blank')">
                        <img src="{{ '/assets/images/logos/Socials/MailMe.svg' | relative_url }}" alt="Mail icon">
                        <span class="footer__subtitle-socials--text">Email me</span>
                    </button>
                    
                    <span class="divider">|</span>
                    <button class="github social" onclick="window.open('https://github.com/TheVoltaireian/Portfolio')">
                        <img src="{{ '/assets/images/logos/Socials/Github.svg' | relative_url }}" alt="GitHub icon">
                        <span class="footer__subtitle-socials--text">GitHub Repository</span>
                    </button> 
                    <button class="x social" onclick="window.open('https://twitter.com/wildvoltaireian', '_blank')">
                        <img src="{{ '/assets/images/logos/Socials/Twitter.svg' | relative_url }}" alt="Twitter/X icon">
                        <span class="footer__subtitle-socials--text">@wildvoltaireian</span>
                    </button>
                    <button class="discord social" onclick="window.open('https://discord.com/users/815092835664920587')">
                        <img src="{{ '/assets/images/logos/Socials/Discord.svg' | relative_url }}" alt="Discord icon">
                        <span class="footer__subtitle-socials--text">@wildvoltaireian</span>
                    </button>
                    
                </div>
            </div>
        </footer>

        <script defer src="{{ '/assets/js/main.js' | relative_url }}"></script>
    </body>
</html>