---
layout: base
---
<header class="header header--hidden">
    <p class="sub">Web developer & wiki enthusiast</p>
    <h1 id="WildVoltaireian"><a id="top">WildVoltaireian</a></h1>
    <p>Say hello to my world. I am WildVoltaireian, a front-end web developer/designer and part-time wiki enthusiast. I focus on making sure my ideas are <span style="color: var(--color-progressive); text-decoration: underline;">open-sourced, accessible, and maintainable</span> for everybody to use. When I'm not working on my projects, I'm focused on my high school studies.</p>
    <hr>
    <div style="display: flex; flex-direction: row; gap: var(--space-xs)"><a class="button button--primary" href="{{ '/projects/' | relative_url }}">Explore projects</a><a class="button button--secondary-2" href="{{ '/contact/' | relative_url }}">Get in touch</a></div>
    <hr style="width: 100%; margin-block: var(--space-lg) var(--space-md);">
    <p><span style="font-weight: var(--font-weight-bold); color: var(--color-emphasized);">7</span> projects<br><span style="font-weight: var(--font-weight-bold); color: var(--color-emphasized);">4</span> technologies<br><span style="font-weight: var(--font-weight-bold); color: var(--color-emphasized);">{{ site.posts.size }}</span> blog post(s)</p>
</header>

<main>
    {{ content }}
</main>

{% include footer.html %}