---
layout: base
---
<header>
    <p class="sub">Web developer & wiki enthusiast</p>
    <h1 id="WildVoltaireian"><a id="top">WildVoltaireian</a></h1>
    <p>Say hello to my world. I am WildVoltaireian, a front-end web developer/designer and part-time wiki enthusiast.</p>
    <hr>
    <div style="display: flex; flex-direction: row; gap: var(--space-xs)"><a class="button button--primary" href="{{ '/projects/' | relative_url }}">Explore projects</a><a class="button button--primary" href="{{ '/contact/' | relative_url }}">Get in touch</a></div>
</header>

<main>
    {{ content }}
</main>

{% include footer.html %}