---
layout: base
---

<nav class="post__breadcrumbs">
    <a href="{{ '/' | relative_url }}">Home</a> <span aria-hidden="true" class="divider">/</span> <a href="{{ '/blog/' | relative_url }}">Blog</a> <span aria-hidden="true" class="divider">/</span> <span class="post__name" style="font-weight: var(--font-weight--bold)">{{ page.title }}</span>
</nav>

<header class="post__header">
    <hr>
    <h1>{{ page.title }}</h1>
    <p>
        <time datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%B %-d, %Y" }}
        </time>
    </p>
</header>

<main class="post__main">
    <article class="post__mainContent">
        {{ content }}
    </article>
</main>

{% include footer.html %}