@keyframes heroFadeIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
        filter: blur(20px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
        filter: none;
    }
}
body {
    opacity: 0;
    transition: opacity var(--transition-hover--slow);
}

body.fade-in {
    opacity: 1;
}